<h1>All books</h1>

<% if @books.empty? %>
  <p>No one book find</p>
<% else %>
  <table>
  	<thead>
  		<th>Name</th>
  		<th>Price</th>
  	</thead>

  	<tbody>
  		<% @books.each do |b| %>

        <tr>
        	<td><%= link_to b.name, book_path(b) %></td>
        	<td><%= b.price %></td>
        </tr>

  		<% end %>
  	</tbody>
  </table>  
<% end %>  

<%= link_to 'New book', new_book_path %>