<h1>All photos</h1>

<% if @photos.empty? %>
  <p>No one photo find</p>
<% else %>
  <table>
  	<thead>
  		<th>Name</th>
  		<th>Price</th>
  	</thead>

  	<tbody>
  		<% @photos.each do |p| %>

        <tr>
        	<td><%= link_to p.name, photo_path(p) %></td>
        	<td><%= p.price %></td>
        </tr>
 
  		<% end %>
  	</tbody>
  </table>
<% end %>

<%= link_to 'New photo', new_photo_path %>  